<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Qa.Listerners"/>
<listener class-name="resources.ExtentReporterNG"/>
</listeners>
	<test name="Title validation">
		<classes>
			<class name="Qa.ValidateTitle"/>
		</classes>
	</test>
	<test name="Tabs validation">
		<classes>
			<class name="Qa.ValidateTabs"/>
		</classes>
	</test>
	<test name="Login">
		<classes>
			<class name="Qa.Login"/>
		</classes>
	</test>
	<!-- Test -->
</suite>
<!-- Suite -->
	